<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers</title> 
    <link rel="stylesheet" href="teachers.component.scss">
</head>
<body>
    <section class="main-content">
        <div class="app">
            <header class="sub-menu">
                <div class="title"> Dashboard </div>
                <ul class="menu">
                    <li> <a routerLink="/manage/dashboard"> Courses </a></li>
                    <li class="selected"><a routerLink="/manage/teachers"> Teachers </a></li>
                    <li><a routerLink="/manage/students">Students </a></li>
                    <li> Grades </li>
                </ul>

                <div class="user-options">
                    <div class="icon"> <i class="bi bi-search" aria-hidden="true"></i> </div>
                    <div class="icon"><i class="bi bi-people" aria-hidden="true"></i> </div>
                </div>
            </header>

            <section class="app-content">

                <header>
                    <div class="searchbox">
                        <div class="icon"> <i class="bi bi-search" aria-hidden="true"></i> </div>
                       <input type="text" name="search" placeholder="Search for teacher" class="search-text">
                    </div>

                    <div class="app-list-options">
                        <div class="sort-dropdown"> Sort by <span class="by"> A-Z </span> <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                            <div class="drop"> <i class="bi bi-caret-down-fill" aria-hidden="true"></i> </div>
                        </div>
                        <div class="icon"> <i class="fa fa-filter" aria-hidden="true"></i> </div>
                    </div>
                </header>

                <ul class="projects">
                    <app-teacher-card *ngFor="let item of teacherData"
                            course = "{{item.course}}"
                            name = "{{item.name}}"
                            description = "{{item.description}}"
                            imageTeacher = "{{item.imageTeacher}}"
                            section1 = "{{item.section1}}"
                            section2 = "{{item.section2}}"
                            section3 = "{{item.section3}}"
                            section4 = "{{item.section4}}"
                        ></app-teacher-card>
                </ul>

            </section>    
         </div>
    </section>
</body>