<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teachers</title> 
    <link rel="stylesheet" href="students.component.scss">
</head>
<body>
    <section class="main-content">
        <div class="app">
            <header class="sub-menu">
                <div class="title"> Dashboard </div>
                <ul class="menu">
                    <li><a routerLink="/manage/dashboard"> Courses </a></li>
                    <li><a routerLink="/manage/teachers"> Teachers </a></li>
                    <li class="selected"><a routerLink="/manage/students">Students </a></li>
                    <li> Grades </li>
                </ul>

                <div class="user-options">
                    <div class="icon"> <i class="bi bi-search" aria-hidden="true"></i> </div>
                    <div class="icon"> <i class="bi bi-people" aria-hidden="true"></i> </div>
                </div>
            </header>

            <section class="app-content">

                <header>
                    <div class="searchbox">
                        <div class="icon"> <i class="bi bi-search" aria-hidden="true"></i> </div>
                       <input type="text" name="search" placeholder="Search for student" class="search-text">
                    </div>

                    <div class="app-list-options">
                        <div class="sort-dropdown"> Sort by <span class="by"> Section </span> <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                            <div class="drop"> <i class="bi bi-caret-down-fill" aria-hidden="true"></i> </div>
                        </div>
                        <div class="icon"> <i class="fa fa-filter" aria-hidden="true"></i> </div>
                    </div>
                </header>

                <ul>
                  <app-table *ngFor="let item of studentsData"
                         course = "{{item.course}}"
                         section = "{{item.section}}"
                         row1StudentImage = "{{item.row1StudentImage}}"
                         row1Name = "{{item.row1Name}}"
                         row1Email = "{{item.row1Email}}"
                         row1ID = "{{item.row1ID}}"
                         row1Grades = "{{item.row1Grades}}"
                         row2StudentImage = "{{item.row2StudentImage}}"                            
                         row2Name = "{{item.row2Name}}"
                         row2Email = "{{item.row2Email}}"
                         row2ID = "{{item.row2ID}}"
                         row2Grades = "{{item.row2Grades}}"
                         row3StudentImage = "{{item.row3StudentImage}}"
                         row3Name = "{{item.row3Name}}"
                         row3Email = "{{item.row3Email}}"
                         row3ID = "{{item.row3ID}}"
                         row3Grades = "{{item.row3Grades}}"
                         row4StudentImage = "{{item.row4StudentImage}}"
                         row4Name = "{{item.row4Name}}"
                         row4Email = "{{item.row4Email}}"
                         row4ID = "{{item.row4ID}}"
                         row4Grades = "{{item.row4Grades}}"
                  ></app-table>
                </ul>
            </section>
        </div>
    </section>
</body>

