@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$colorWhite: #fafbfb;
$colorLiteGrey: #9199a5;
$colorDarkGrey: #565d68;
$colorBlack: #1e2026;
$colorLite: #bbc3c9;
$colorDarkGreen: #587553;;

$sizeMedium: 0.75em;

body {
  font-family: 'Roboto', Arial, sans-serif;
	text-align: center;
}

a {
	text-decoration:none;
	color: lighten($colorDarkGrey, 10%);
}

.project-item {
  padding: 16px;
  margin: 12px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  text-align: left;

  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
  user-select: none;
  
  width: 285px;

  .logo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      border-radius: 8px;
      width:150px;
      height:150px;
      display: block;
    }

    .icon {
      color: $colorLite;
    }
  }

  .title-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 20px 0 10px;

    h3 {
      font-weight: bold;
    }
  }

  .desc-row {
    color: lighten($colorDarkGrey, 20%);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total {
      padding: 8px 5px;
      border-radius: 4px;
      background: $colorLite;
      font-size: 12px;

      color: $colorDarkGrey;
      background: lighten($colorDarkGrey, 50%);
    }

    .users {
      img {
        border-radius: 3px;
        margin: 0 2px;
                  width: 30px;
                  height: 30px;
      }
    }
  }
}