<head>
    <link rel="stylesheet" href="sidenav.component.scss">
    
</head>
<input type="checkbox" id="checkbox">
<label class="btn" for="checkbox"><i class="bi bi-dash-square"></i><span>    Menu</span></label>

<div class="sidebar">
    <div class="site-logo">
        <img src="assets/images/WUPLogo.png" alt="logo">
    </div>
    <ul>
        <a routerLink="/manage/dashboard"><li><i class="bi bi-clipboard"></i>Dashboard</li></a>
       <!-- <a href="#"><li><i class="bi bi-people"></i>User Management</li></a>-->
        <a routerLink="/registration"><li><i class="bi bi-r-circle"></i>Register</li></a>
        <a routerLink="/login"><li><i class="bi bi-box-arrow-in-right"></i>Login</li></a>
        <!-- <a href="#"><li><i class="fa fa-send"></i>Email</li></a>
        <a href="#"><li><i class="fa fa-wpforms"></i>Forms</li></a>
        <a href="#"><li><i class="fa fa-paint-brush"></i>UI Elements</li></a> -->
        <a href="#"><li><i class="bi bi-box-arrow-left"></i>Logout</li></a>
        <a href="#"><li><i class="bi bi-gear"></i>Settings</li></a>
    </ul>
</div>
