@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$colorWhite: #fafbfb;
$colorLiteGrey: #9199a5;
$colorDarkGrey: #565d68;
$colorBlack: #1e2026;
$colorLite: #bbc3c9;
$colorDarkGreen: #587553;;

$sizeMedium: 0.75em;

body {
    font-family: 'Roboto', Arial, sans-serif;
	background: $colorLite;
	text-align: center;
}

a {
	text-decoration:none;
	color: lighten($colorDarkGrey, 10%);
}

.main-content {
	width: 100%;
	height: 100%;
	background: lighten($colorLiteGrey, 30%);
	
	/*border-top-right-radius: $layoutBorder - 26px;
	border-bottom-right-radius: $layoutBorder - 26px;*/
	
	.app {
		display: flex;
		flex-direction: column;

		header.sub-menu {
			display: flex;
			justify-content: space-between;
			align-items: center;

			background: $colorWhite;
			box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
		    /*border-top-right-radius: $layoutBorder - 26px;
			*/
			height: 70px;

			.title {
				font-weight: bold;
				margin-left: 20px;
			}

			.menu {
				display: flex;
				list-style: none;
				height: 100%;

				li {
					margin: 0 10px;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 0.75em;
					color: lighten($colorDarkGrey, 10%);
					display: flex;
					align-items: center;

					&.selected, &:hover {
						color: $colorDarkGreen;
						position: relative;

						&::after {
							content: "";
							border-bottom: 5px solid $colorDarkGreen;

							position: absolute;
							bottom: 0;

							width: 100%;
						}
					}
					
					&:hover {
						cursor: pointer;
					}
				}
			}

			.user-options {
				display: flex;
				margin-right: 16px;

				.icon {
					margin: 0 8px;
					padding: 10px;
					border-radius: 5px;
					box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
					position: relative;
				}
			}
		}

		.app-content {
			margin: 20px;
			background: $colorWhite;
			border-radius: 5px;
			height: 716px;

			header {
				margin: 20px;
				display: flex;
				justify-content: space-between;

				.searchbox {
					display: flex;
					padding: 10px;
					background: lighten($colorLiteGrey, 33%);
					border-radius: 5px;
					width: 200px;
					.icon {
						color: $colorLiteGrey;
						margin: 0 5px;
					}

					input.search-text {
						border: none;
						background: inherit;
						font-size: $sizeMedium;
						font-weight: 600;
						outline: none;						
					}
				}
			}
		}
	}
}

.app-content {
	header .app-list-options {
		display: flex;
		justify-items: center;
		align-items: center;

		.sort-dropdown {
			display: flex;
			border: 1px solid $colorLite;
			border-radius: 5px;
			padding: 12px;
			color: $colorLite;
			font-size: $sizeMedium;
			font-weight: 600;
			.by,
			i {
				color: $colorBlack;
				margin-left: 5px;
			}
			.drop {
				border-left: 1px solid $colorLite;
				margin-left: 10px;
			}
		}

		.icon {
			margin: 0 10px;
			padding: 10px;
			border-radius: 5px;
			box-shadow: 0px 1px 1px 1px rgba(181, 181, 181, 0.38);
			position: relative;
			color: $colorLite;
			
			&:first-child {				
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			
			&:last-child {				
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
			
			&.selected {
				background: lighten($colorDarkGrey, 50%);
				color: lighten($colorDarkGrey, 20%);
			}
		}
	}
}

.projects {
	list-style: none;

	display: flex;
	flex-wrap: wrap;

	margin: 10px;
	height: 630px;
	overflow-y: scroll;
}