<!--<app-card *ngfor="let item of cardData"
    name = "{{item.name}}"
    value = "{{item.value}}"
    position = "{{item.position}}"
    company = "Republic of the Philippines"
></app-card>

<app-button
    text = "I'm on dashsboard"
    btnClass = "btn btn-primary"
></app-button>

-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title> 
    <link rel="stylesheet" href="dashboard.component.scss">
</head>
<body>
        <section class="main-content">
            <div class="app">
                <header class="sub-menu">
                    <div class="title"> Dashboard </div>
                    <ul class="menu">
                        <li class="selected"> Courses </li>
                        <li><a routerLink="/manage/teachers"> Teachers </a></li>
                        <li><a routerLink="/manage/students">Students </a></li>
                        <li> Grades </li>
                    </ul>

                    <div class="user-options">
                        <div class="icon"> <i class="bi bi-search" aria-hidden="true"></i> </div>
                        <div class="icon"> <i class="bi bi-people" aria-hidden="true"></i> </div>
                    </div>
                </header>

                <section class="app-content">

                    <header>
                        <div class="searchbox">
                            <div class="icon"> <i class="bi bi-search" aria-hidden="true"></i> </div>
                            <input type="text" name="search" placeholder="Search a course" class="search-text">
                        </div>

                        <div class="app-list-options">
                            <div class="sort-dropdown"> Sort by <span class="by"> Courses </span> <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                                <div class="drop"> <i class="bi bi-caret-down-fill" aria-hidden="true"></i> </div>
                            </div>
                            <div class="icon"> <i class="fa fa-filter" aria-hidden="true"></i> </div>
                        </div>

                    </header>

                    <ul class="projects">
                        <app-card *ngFor="let item of dashboardData"
                            course = "{{item.course}}"
                            courseTitle = "{{item.courseTitle}}"
                            description = "{{item.description}}"
                            totalStudents = "{{item.totalStudents}}"
                            courseImage = "{{item.courseImage}}"
                            studentImage1 = "{{item.studentImage1}}"
                            studentImage2 = "{{item.studentImage2}}"
                        ></app-card>
                    </ul>
                </section>
            </div>
        </section>
</body>